In [1]:
import pandas as pd

In [8]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\tn_travel_여행_H.csv"

tn_travel = pd.read_csv(file_path)

tn_travel

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
0,e_e000295,E03,e000295,21;22;4;7;8,2023-06-03,2023-06-05,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션",21;22;4;7;8,7;1;22
1,e_e000305,H02,e000305,12;2;21;27,2023-06-09,2023-06-11,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/자녀동반/일반미션",12;2;21;27,22;21;27
2,e_e000335,H02,e000335,1;22;26;4;6,2023-06-17,2023-06-18,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",1;22;26;4;6,1;6;26
3,e_e000365,H02,e000365,24;26;27;28;5,2023-05-27,2023-05-30,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/40세 이상/3인 이상 친구/일반미션",24;26;27;28;5,5;11;12
4,e_e000401,H02,e000401,1;10;21;23;24,2023-05-27,2023-05-30,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/부부/일반미션",1;10;21;23;24,1;23;21
...,...,...,...,...,...,...,...,...,...,...
2555,h_h006755,H01,h006755,12;22;26;3;5,2023-09-20,2023-09-21,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",12;22;26;3;5,22;26;3
2556,h_h006766,H01,h006766,6;22;24;26;2,2023-09-21,2023-09-22,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/커플/일반미션",6;22;24;26;2,6;9;22
2557,h_h006870,H01,h006870,1;4,2023-09-23,2023-09-24,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/자녀동반/일반미션",1;4,6;22;5
2558,h_h006872,H01,h006872,9;3,2023-09-23,2023-09-24,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/3인 이상 친구/일반미션",9;3,11;9;3
2559,h_h006874,H01,h006874,1;5;6,2023-09-22,2023-09-23,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;5;6,5;11;1

In [9]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv"

tn_visit_area_info_jeju_filtered = pd.read_csv(file_path)

tn_visit_area_info_jeju_filtered

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0
1,2307070002,e_e004808,제주 국제공항,2023-07-07,2023-07-07,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,4.0,4.0
2,2307220006,e_e005480,제주 국제공항,2023-07-22,2023-07-22,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,5.0,4.0
3,2308030006,e_e005858,제주 국제공항,2023-08-03,2023-08-03,제주특별자치도 제주시 공항로 2,126.492769,33.507079,60.0,9,Y,6.0,5.0,5.0,5.0
4,2308280003,g_g005682,제주원 렌터카 본점,2023-08-28,2023-08-28,제주특별자치도 제주시 용해로 58-7,126.502477,33.511763,30.0,9,N,2.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,30.0,2,N,1.0,4.0,4.0,4.0
23449,2309230004,h_h006872,소길별하,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,60.0,12,N,1.0,4.0,4.0,4.0
23450,2309220002,h_h006874,꼬스뗀뇨,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,60.0,3,N,1.0,3.0,2.0,2.0
23451,2309220003,h_h006874,마이 피기 팬트리,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,30.0,10,N,2.0,4.0,4.0,4.0
23452,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0

In [10]:
# 제주도인 데이터만 필터링

jeju_travel_ids = set(tn_visit_area_info_jeju_filtered["TRAVEL_ID"])

tn_travel_jeju_filtered = tn_travel[tn_travel["TRAVEL_ID"].isin(jeju_travel_ids)]

tn_travel_jeju_filtered

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
240,e_e004090,H02,e004090,1;13;26;7,2023-07-01,2023-07-03,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",1;13;26;7,1;2;26
268,e_e004808,H02,e004808,6;22,2023-07-07,2023-07-10,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/39세 이하/나홀로 여행/일반미션",6;22,6;22;24
288,e_e005480,E03,e005480,1;12;3;4;6,2023-07-22,2023-07-24,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",1;12;3;4;6,6;3;28
294,e_e005858,H02,e005858,1;21;22;24;28,2023-07-30,2023-08-04,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/39세 이하/나홀로 여행/일반미션",1;21;22;24;28,2;1;22
970,g_g005682,H01,g005682,2;6;1;22;26,2023-08-28,2023-08-31,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/39세 이하/나홀로 여행/일반미션",2;6;1;22;26,6;22;26
...,...,...,...,...,...,...,...,...,...,...
2555,h_h006755,H01,h006755,12;22;26;3;5,2023-09-20,2023-09-21,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",12;22;26;3;5,22;26;3
2556,h_h006766,H01,h006766,6;22;24;26;2,2023-09-21,2023-09-22,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/커플/일반미션",6;22;24;26;2,6;9;22
2557,h_h006870,H01,h006870,1;4,2023-09-23,2023-09-24,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/자녀동반/일반미션",1;4,6;22;5
2558,h_h006872,H01,h006872,9;3,2023-09-23,2023-09-24,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/3인 이상 친구/일반미션",9;3,11;9;3
2559,h_h006874,H01,h006874,1;5;6,2023-09-22,2023-09-23,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;5;6,5;11;1

In [11]:
tn_travel_jeju_filtered = tn_travel_jeju_filtered.drop(['TRAVEL_NM', 'MVMN_NM', 'TRAVEL_PURPOSE', 'TRAVEL_PERSONA', 'TRAVEL_MISSION', 'TRAVEL_START_YMD', 'TRAVEL_END_YMD', 'TRAVEL_MISSION_CHECK'], axis=1)

In [12]:
tn_travel_jeju_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1496 entries, 240 to 2559
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TRAVEL_ID    1496 non-null   object
 1   TRAVELER_ID  1496 non-null   object
dtypes: object(2)
memory usage: 35.1+ KB

In [13]:
import shutil

# 파일 저장 경로
local_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_travel_jeju_filtered.csv"
tn_travel_jeju_filtered.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_travel_jeju_filtered.csv

In [24]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\cleaned_code_b.csv"

code_b = pd.read_csv(file_path)

MIS = code_b[code_b['cd_a'] == "MIS"]
MIS

    cd_a cd_b                 cd_nm
95   MIS    1                    쇼핑
96   MIS    2  테마파크, 놀이시설, 동/식물원 방문
97   MIS    3             역사 유적지 방문
98   MIS    4                  시티투어
99   MIS    5        야외 스포츠, 레포츠 활동
100  MIS    6    지역 문화예술/공연/전시시설 관람
101  MIS    7         유흥/오락(나이트라이프)
102  MIS    8                    캠핑
103  MIS    9          지역 축제/이벤트 참가
104  MIS   10                 온천/스파
105  MIS   11         교육/체험 프로그램 참가
106  MIS   12            드라마 촬영지 방문
107  MIS   13              종교/성지 순례
108  MIS   21          Well-ness 여행
109  MIS   22            SNS 인생샷 여행
110  MIS   23                호캉스 여행
111  MIS   24             신규 여행지 발굴
112  MIS   25            반려동물 동반 여행
113  MIS   26         인플루언서 따라하기 여행
114  MIS   27        친환경 여행(플로깅 여행)
115  MIS   28                 등반 여행